# YOLOv8 models
yolo*.pt
yolov*.pt

# Training outputs
runs/

# Environment directories
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv


#temp
output/
input/

# archives inside videos_for_processing/
assets/videos_for_processing/*
